/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a background color and text color */
body {
    background-image: url('your-background-image.jpg');
    background-size: cover;
    src: url('fonts/SuperMario256.ttf');
    font-family: 'SuperMario256', sans-serif;
    color: #fff; /* Text color */
}

/* Header styling */
header {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Link color */
    font-weight: bold;
}

/* Main sections styling */
section {
    padding: 50px;
    text-align: center;
}

h1, h2 {
    font-size: 36px;
}

/* Footer styling */
footer {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    header {
        text-align: center;
    }
    
    nav ul {
        text-align: center;
        padding-top: 10px;
    }
    
    nav ul li {
        display: block;
        margin: 0;
    }
}
